@import './styles.scss';

// My own
.fill {
  position: relative;
  width: 100%;
  height: 100%;
}

.gpu {
  transform: translateZ(0);
  will-change: scroll-position;
}

.no-select {
  user-select: none;
}

.main-container {
  height: 100%;
  display: grid;
  grid: 1fr / 100%;
}

.gantt-container {
  display: grid;
  grid: 100% / auto 1fr;
  

  .date-grid {
    background-color: $gray-100;
    overflow: hidden;
  }

  .metadata {
    padding-left: 15px;
  }
}

.gantt-row {
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.phase-title {
  cursor: pointer;
  user-select: none;
}